Repository erclx/chrome-extension-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

build: enforce import sorting
  bun.lock
  eslint.config.mjs
  manifest.config.ts
  package.json
  src/content/main.tsx
  src/popup/main.tsx
  src/sidepanel/main.tsx
  vite.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

build: configure eslint-config-prettier
  eslint.config.mjs
Due: none

build: enforce file naming conventions
  eslint.config.mjs
Due: none

chore: update documentation to use bun instead of npm
  README.md
Due: prettier --write, cspell --no-must-find-files

chore: add continue extension to gitignore
  .gitignore
Due: none

chore: add description field to package.json
  package.json
Due: prettier --write, cspell --no-must-find-files

chore: add reset script and update package.json with reset command
  package.json
  reset-template.sh
Due: prettier --write, cspell --no-must-find-files

chore: update reset template description
  reset-template.sh
Due: none

chore: remove reset-template.sh and update cspell.json
  .husky/commit-msg
  cspell.json
  reset-template.sh
Due: prettier --write, cspell --no-must-find-files

chore: add template reset and dependency update scripts
  cspell.json
  package.json
  scripts/reset-template.sh
  scripts/update-deps.sh
Due: prettier --write, cspell --no-must-find-files

chore: update dependencies
  bun.lock
  package.json
Due: prettier --write, cspell --no-must-find-files

chore: update .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,css,md})
  cspell --no-must-find-files: any of: **/*.{js,ts,json,md}
